body{
  background-color: #A4BE7B;
}
.app{
  background-color: #E5D9B6;
  min-height: 90vh;
  width: 500px;
  margin: 20px auto;
}
.crossed{
  text-decoration: line-through 2px green;
  background-color: #F5EBE0;
}
ul,li{
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
h1{
  font-family: 'Ubuntu', sans-serif;
  color: #285430;
}
.container{
  display: flex;
  justify-content: center;
}
.add{
  background: #65aa06;
  margin-top: 5px;
}
.delete{
  background: #d30100;
  margin-bottom: 5px;
}
.btn {
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
}
input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Ubuntu', sans-serif;
}
img{
  margin-top:10px ;
  margin-bottom: 10px;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}